/* ===== Portifólio ===== */

#portifolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#portifolio h2 {
  margin: 3rem 0;
}

#portifolio h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  text-align: center;
  color: var(--letras);
  text-shadow:4px 2px 4px var(--body) ;
}

#portifolio .contreinner {
  background-color: var(--cor-primaria);
  width: 100%;
  color: var(--body);
  box-shadow: inset 5px 5px 20px 0px black;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.contreinnerDesign,.contreinnerProgramacao{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projeto{
  width: 16rem;
  height: 19rem;
  padding: 0.5rem;
  border: 2px dashed var(--body);
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.projeto:hover{
  border-color: var(--letras);
}


 img {
  width: 13rem;
  margin-top: 10px;
  border-radius: 5px;
}

.link {
  font-size: 16px !important;
  margin: 5px;
}

.projeto p {
  color: var(--body);
  font-size: 1.15em;
  text-align: center;
}