/* ===== CABEÇALHO ===== */

#cabecalho {
  height: 25rem;
}

#cabecalho .contreinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ===== BLOG ===== */

#blog {
  height: 10rem;
}

#blog .contreinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== PORTIFÓLIO ===== */

#portifolio {
  width: 100%;
}

#portifolio h2 {
  margin: 20px 0;
}

#portifolio .contreinner {
  background-color: var(--cor-primaria);
  width: 100%;
  color: var(--body);
  box-shadow: inset 5px 5px 20px 0px black;
}

.contreinner_portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--cor-segundaria);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portifolio:hover {
  border-color: var(--letras);
}

.image_portifolio img {
  border-radius: 5px;
  width: 10rem;
}

.text_portifolio {
  text-align: center;
  margin-top: 10px;
}

#portifolio button {
  height: 3rem;
  width: 12rem;
  margin: 20px 0;
  border-radius: 50px;
  border: 2px solid var(--cor-primaria);
  background-color: transparent;
  color: var(--letras);
  transition: background 0.2s;
}

#portifolio button:hover {
  background: var(--cor-primaria);
  color: var(--body);
}

/* ===== SOBRE ===== */

#sobre {
  width: 100%;
}

#sobre .contreinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foto_minha {
  border-radius: 100px;
  border: 5px solid var(--cor-primaria);
  width: 10.6rem;
  height: 10.6rem;
  margin-top: 20px;
}

#sobre img {
  width: 10rem;
  border-radius: 100px;
}

.texto {
  margin: 20px 0;
  text-align: justify;
}

.texto div h2 {
  text-align: center;
}

.texto div {
  margin: 10px 0;
}

/* ===== TECNOLOGIAS ===== */

#tecnologias {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tecnologias .contreinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

.contreinnerCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;
}

.html,
.html .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*50) / 100);
  box-shadow: 0 0 10px 6px #ff6200;
  stroke: #ff6200;
}

.css,
.css .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*40) / 100);
  box-shadow: 0 0 10px 6px #0073ff;
  stroke: #0073ff;
}

.js,
.js .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*30) / 100);
  box-shadow: 0 0 10px 6px #F7DF1E;
  stroke: #F7DF1E;
}

.php,
.php .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*60) / 100);
  box-shadow: 0 0 10px 6px #6e81b6;
  stroke: #6e81b6;
}

.postgresql,
.postgresql .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*80) / 100);
  box-shadow: 0 0 10px 6px #336791;
  stroke: #336791;
}

.card {
  height: 14rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 1rem 2rem;
}

.card>p {
  height: 15%;
}

.subCard {
  height: 85%;
  width: 100%;
  position: static;
}

.subCard>p {
  width: 9.3rem;
  height: auto;
  left: 40%;
  position: relative;
  top: -30%;
}


.circulo,
.iconLanguage {
  width: 100%;
  height: 50%;
}



.circulo>svg {
  width: 9.3rem;
  height: auto;
  left: 13%;
  position: relative;
  top: 30%;
}

.iconLanguage>svg {
  width: 4rem;
  height: auto;
  left: 33%;
  position: relative;
  top: -40%;
}


.circulo>svg>circle {
  width: 13rem;
  height: 13rem;
  fill: none;
  stroke: black;
  stroke-width: 5;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.circulo>circle:nth-child(1) {

  stroke-dashoffset: 440;
  stroke: none;
}

.circulo>svg>circle:nth-child(2) {
  transition: stroke-dashoffset 0.8s;
}

/* =====  FERRAMENTAS ===== */

.photoshop,
.photoshop .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*100) / 100);
  box-shadow: 0 0 10px 6px #00C8FF;
  stroke: #00C8FF;
}

.vscode,
.vscode .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*100) / 100);
  box-shadow: 0 0 10px 6px #0065A9;
  stroke: #0065A9;
}

.github,
.github .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*100) / 100);
  box-shadow: 0 0 10px 6px #fff;
  stroke: #fff;
}

.photoshop,
.photoshop .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*100) / 100);
  box-shadow: 0 0 10px 6px #00C8FF;
  stroke: #00C8FF;
}

.git,
.git .subCard .circulo>svg>circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440*60) / 100);
  box-shadow: 0 0 10px 6px #F05133;
  stroke: #F05133;
}

/* ===== CONTATO ===== */

#contato {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contato .contreinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contato form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.titulo_contato {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.titulo_contato h2 {
  font-size: 17px;
}

.campo {
  width: 18rem;
  margin: 5px 0;
  padding: 10px;
  background-color: var(--body);
  outline: none;
  border: 2px solid var(--cor-primaria);
  font-family: 'DM Sans';
  border-radius: 5px;
  color: var(--letras);
}

#nome,
#email {
  height: 2.3rem;
}

#msg {
  height: 10rem;
  margin-bottom: 10px;
}

.campo::placeholder {
  color: var(--pleacehouder);
}

form button {
  height: 2.5rem;
  width: 8.5rem;
  background: var(--body);
  border: 2px solid var(--cor-primaria);
  color: var(--letras);
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.2s;
}

form button:hover {
  background: var(--cor-primaria);
}

@media (min-width: 1000px) {

  #sobre .contreinner {
    flex-direction: row;
  }

  .foto_minha {
    border-radius: 120px;
    border: 5px solid var(--cor-primaria);
    width: 13.6rem;
    height: 13.6rem;
    margin-top: 5px;
    margin-right: 20px;
  }

  #sobre img {
    width: 13rem;
    border-radius: 120px;
  }

  .texto div h2 {
    text-align: start;
  }
}



@media (min-width: 660px) {
  .contreinner div h2 {
    margin-bottom: 10px;
  }


  #contato .contreinner div h2 {
    font-size: 20px;
  }

  .campo {
    width: 30rem;
  }

  #msg {
    height: 20rem;
    margin-bottom: 20px;
  }
}